.ws-layout-container.react {
    background-color: #181715;
}

.eUldyJ {
    color: #efefef;
}

.cVXaww {
    color: #a9b883;
}

@media (min-width: 768px) {
    .HpOlV {
        background: #1c1a1b;
    }
}

.hPQStH {
    color: #f1f1f1;
}

.bPQjIl .cRTEWi .wHOEp .YvQwr .ceBsus .fakHSB {
    color: #f0f0f0;
}
