.ws-layout-container.react {
    background-color: #181715;
}

.eUldyJ {
    color: #efefef;
}

.cVXaww {
    color: #a9b883;
}

@media (min-width: 768px) {
    .HpOlV {
        background: #181715;
    }
}

.hPQStH {
    color: #f1f1f1;
}

.bPQjIl {
    color: #f0f0f0;
}

.cRTEWi {
    color: #f0f0f0;
}

.wHOEp {
    color: #f0f0f0;
}

.YvQwr {
    color: #f0f0f0;
}

.ceBsus {
    color: #f0f0f0;
}

.fakHSB {
    color: #f0f0f0;
}

.jTzygh {
    background: #1c1a1b;
    border: 1px solid #3e3c3d;
}

.hSvilY {
    color: #a9b883;
}

.gllhze {
    color: #a4a2a0;
}

.duQRVh {
    color: #f1f1f1;
}

.iKliYi {
    background: #181715;
}

.gqoCtD {
    color: #bcbbb9;
}

.ljgpuW {
    color: #f1f1f1;
}

.eZRXoc {
    color: #f1f1f1;
}

.gNMaKE {
    color: #f1f1f1;
}

.gFMBHG {
    color: #f1f1f1;
}

.dNnapr {
    color: #f1f1f1;
}

.eIXSNo {
    color: #f1f1f1;
}

.YJWMH {
    color: #f1f1f1;
}

.dveFxi {
    color: #a4a2a0;
}

.ivWBlQ {
    color: #f1f1f1;
}

.dfEMXN {
    color: #a4a2a0;
}

.iyoqmR {
    color: #f1f1f1;
}

.iyjSvs {
    color: #f1f1f1;
}

.gDOEhm {
    color: #f1f1f1;
}

.DdRFT {
    color: #f1f1f1;
}

.hmyzfE {
    color: #f1f1f1;
}

.kdDNPL.kdDNPL {
    color: #a4a2a0;
}

.hLTTHg {
    color: #a4a2a0;
}

.eTjIiU::after {
    background-color: #a4a2a0;
}

.eBkBKp {
    color: #f1f1f1;
}

.iCIqPA.iCIqPA.iCIqPA {
    background-color: #1c1a1b;
    border: 1px solid #3e3c3d;
}

.dHCtvE {
    color: #a4a2a0;
}

.jAbqPV {
    color: #f1f1f1;
}

.hezcnj {
    color: #f1f1f1;
}

.hACAGp {
    color: #a4a2a0;
}

.bYbeuw {
    background: #181715;
}

.bMzWsc {
    color: #a9b883;
}

.jyJsPT {
    color: #f98b73;
}

.eXZFf {
    color: #a4a2a0;
}

.iwcPFI {
    border-bottom: 1px solid #3e3c3d;
}

.efAHej {
    border-bottom: 1px solid #3e3c3d;
}

.zxaah {
    background: #181715;
}

.dqTyBI {
    background: #181715;
}

.ihfLvF {
    background: #181715;
}

.bwhVzW {
    color: #f1f1f1;
}

.fhMAkI {
    color: #f1f1f1;
}

.kKrIE {
    color: #f1f1f1;
}

.bOdpSq {
    color: #f1f1f1;
}

.kOpiyL {
    color: #a4a2a0;
}

.ZjCLY {
    background-color: #1c1a1b;
    border: 1px solid #3e3c3d;
}

.knAzsi {
    color: #f1f1f1;
}

/* Search */

.vXqUq {
    background: #1c1a1b;
    border: 1px solid #3e3c3d;
}

.edrWfp {
    color: #a4a2a0;
}

.bAjrSs {
    color: #f1f1f1;
}

.kXqpks {
    color: #a4a2a0;
}

.hLOJuH.hLOJuH:focus, .hLOJuH.hLOJuH[data-has-value="true"] {
    -webkit-text-fill-color: #f1f1f1;
}

.ZjCLY:focus-within .sc-7cfeeee1-1, .ZjCLY .sc-7cfeeee1-1[data-has-value="true"] {
    color: #a4a2a0 !important;
}

/* Activity */

.hzzatw {
    color: #f1f1f1;
}

.ePyOpH {
    color: #a4a2a0;
}

.gpulSW {
    color: #f1f1f1;
}

.fpIRzU {
    color: #f1f1f1;
}

.gmzUjE {
    color: #f1f1f1;
}

.cNGIZX {
    background-color: rgb(49, 48, 46);
    color: #f1f1f1;
}

.hLGLei {
    background-color: #30302e;
}

.kzRVDX {
    color: #c3c4c1;
}

.gFkCfT.gFkCfT.gFkCfT {
    background-color: #615e5c;
}

.jbxvCs {
    color: #f1f1f1;
}
