.hPQStH, .bPQjIl, .cRTEWi, .wHOEp, .YvQwr, .ceBsus, .fakHSB,
.ljgpuW, .eZRXoc, .gNMaKE, .gFMBHG, .dNnapr, .eIXSNo, .YJWMH,
.ivWBlQ, .iyoqmR, .iyjSvs, .gDOEhm, .DdRFT, .hmyzfE, .bwhVzW,
.fhMAkI, .kKrIE, .bOdpSq, .knAzsi, .bAjrSs, .hzzatw, .gpulSW,
.fpIRzU, .gmzUjE, .jbxvCs, .kTzMqH, .jBLxDg, .iKNeak, .jJEdbN,
.gsHIUM, .dqcNsH, .eaZeGY, .hYQfOb {
    color: #f1f1f1;
}

.gllhze, .dveFxi, .dfEMXN, .hLTTHg, .dHCtvE, .hACAGp, .eXZFf,
.kdDNPL.kdDNPL, .kOpiyL, .edrWfp, .kXqpks, .ePyOpH, .kuSaYo,
.RdrMR, .fspXsY {
    color: #a4a2a0;
}

.cVXaww, .hSvilY, .bMzWsc, .fWZNcP {
    color: #a9b883;
}

.jyJsPT, .bHIaSA, .jQfPRz {
    color: #f98b73;
}
